[submodule "astroPT"]
	path = astroPT
	url = https://github.com/astroinfo-hacks/astroPT.git
	branch = astroinfo
[submodule "AION"]
	path = AION
	url = https://github.com/astroinfo-hacks/AION.git
[submodule "AstroCLIP"]
	path = AstroCLIP
	url = https://github.com/astroinfo-hacks/AstroCLIP.git
